@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    :root{
      --white: hsl(0, 0%, 100%);
      --grey: hsl(0, 0%, 20%);
      --dark_grey: hsl(0, 0%, 12%);
      --black: hsl(0, 0%, 8%);
      --green: hsl(75, 94%, 57%);
    }
    
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter';
      list-style: none;
      text-decoration: none;
    }

    body{
      min-height: 100vh;
      padding-inline: 2rem;
      background-color: var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    main{
      width: 100%;
      max-width: 400px;
      min-height: 30vw;
      background-color: var(--dark_grey);
      text-align: center;
      border-radius: .8em;
      padding: 2em;
    }

    img{
      width: 6em;
      border-radius: 50%;
      margin: 1.5em 0;
    }

    h1{
      font-size: clamp(1.3rem, 5vw, 1.7rem);
      font-weight: 600;
      color: var(--white);
      margin-bottom: .5rem;
    }

    .address{
      font-size: clamp(.760rem, 3vw, .99rem);
      font-weight: 600;
      color: var(--green);
      margin-bottom: 1.5em;
    }

    .address + p{
      font-size: clamp(.750rem, 3vw, .9rem);
      font-weight: 400;
      color: var(--white);
      margin-bottom: 2em;
    }

    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 .5em;
    }

    ul li{
      font-size: clamp(.3rem, 5vw, .9rem);
      font-weight: 600;
      text-align: center;
      width: 100%;
      padding: 1em;
      background-color: var(--grey);
      margin-bottom: 1em;
      border-radius: .5em;
    }

    ul li:last-child{
      margin-bottom: .1em;
    }

    ul li:hover{
      background-color: var(--green);
      cursor: pointer;
    }

    ul li:hover a{
      color: var(--black);
      cursor: pointer;
    }

    ul li a{
      color: var(--white);
    }

    @media screen and (max-width: 375px){
      
      main{
        padding: 1em;
      }
      ul li:last-child{
        margin-bottom: .6em;
      }
    }